[submodule "Ifnity/Ifnity/vendor/SPIRV-Cross"]
	path = Ifnity/Ifnity/vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Ifnity/Ifnity/vendor/assimp"]
	path = Ifnity/Ifnity/vendor/assimp
	url = https://github.com/assimp/assimp.git
